@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
}

h1 {
  padding: 1rem;
  padding-bottom: 2rem;
}

.buttons-container {
  margin: 0 auto;
  width: 50vw;
  display: flex;
  justify-content: space-around;
}

.button {
  font-size: 1rem;
  padding: 10px;
  background-color: tomato;
  outline: none;
  border: 1px solid black;
  
}

.active-button {
  background-color: aqua;
}

/* Inputs */
.inputs {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.input {
  padding: 0;
  text-align: center;
  margin: 0;
  font-size: 4rem;
  font-weight: 800;
  width: 20vh;
  height: 20vh
  ;
}

/* Equals  */

.equals {
  font-size: 10rem;
  font-weight: 900;
}