@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.buttons-container {
  margin: 0 auto;
  width: 50vw;
  display: flex;
  justify-content: space-around;
}

.button {
  font-size: 1rem;
  padding: 10px;
  background-color: tomato;
  outline: none;
  border: 1px solid black;
  
}

.active-button {
  background-color: aqua;
}